/* handy adaptations from bootstrap */
.jumbotron {
    padding: 2em; background-color:#ccf; font-size:16pt; margin:auto; border-radius: 25px;
}

a.fa {text-decoration:none; color:black;}
span.fa-info-circle {cursor:pointer;}
.sticky {position: sticky; top: -1px;}

@media print
	{ .hidden-print, .hidden-print * { display: none !important;} }

@media screen
	{ .visible-print, .visible-print * { display: none !important; } }


/* required for a black dropdown menu */
.pure-menu {background-color:black; color:white; -webkit-font-smoothing: antialiased;}
.pure-menu-children {background-color:black; color:white;}
.pure-menu a{color:white;-webkit-font-smoothing: antialiased;}
.pure-menu a:hover{color:white;font-weight:bold; background-color:black;}
.container {padding:1em;}
.icon{height:1em;}

/* required for text divs with margins */
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-box {
	padding: 1em;
}

/* personal styling for taste */
h1 {font-size:2.4em; font-weight:normal; }
th {background-color:#0F0E9F;color:white;  max-width:25vw;}
td {max-width:25vw;}
table > tbody > tr.sr { background-color:lightgreen !important; }
.pure-table-striped tr.sr:nth-child(2n-1) td {
	 background-color:lightgreen !important; /*needed for TR SR color rows*/
}

/* required for 2018 MFP system */
table > tbody > tr > td.mb {color:white; background-color:#0070c0 !important;}
table > tbody > tr > td.mt {background-color:#d8d8d8 !important;}
table > tbody > tr > td.mg {background-color:#00cc99 !important;}
table > tbody > tr > td.mv {background-color:#66ff99 !important;}
table > tbody > tr > td.mn {background-color:#66ff99 !important;}


/* slide switch instead of checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 60px !important;
  height: 32px;
  bottom: 4px;
}

.switch input {display:none !important;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* used only in bd/fold-contents */

.bold {
  font-weight: bold;
}

.bg-primary {
	background-color:#0078e7 !important;
	color: #fff !important;
}

/*
tr:hover, td:hover {
   color: orangered;
}
*/
tr.ind {
    font-weight: bold;
    border-bottom: 1px solid #0088cc;
}

.subgoal {
   background-color: darkslategrey !important;
   color: white;
}
.closed {
    display: none;
}
.opened {
    display: block;
}



/* for autocomplete.js */
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }


/* India outputs table border fixing for colspans */
.pure-table {
    border-collapse: separate;
    border-spacing: 0.5px !important;
    text-align: center;
}

/* sticky table related CSS starts */
.lr-sticky-header {
	  color: white;
	  background: #C0392B;
	  transition: all 0.6s;
	  box-sizing: border-box !important;
}
table, thead, tbody, tr, th, td {
    box-sizing: border-box !important;
}
:after, :before {
    box-sizing: border-box;
}
/* sticky related CSS ends */

.info-success {
    background-color: darkgreen;
    color: white;
    border: 1px solid #cbcbcb;
	border-width: 1px 1px;
	margin: 0;
    padding: .5em 1em;
    text-align: center;
    margin-bottom:20px;
}
.info-success > div, .info-success > span {
	color:black;
	background-color: #f2f2f2;
	max-width:50px;
	padding: .1em 1em;
}
.info-error {
    background-color: red;
    color: white;
    border: 1px solid #cbcbcb;
	border-width: 1px 1px;
	margin: 0;
    padding: .5em 1em;
    text-align:center;
    margin-bottom:20px;
}

.total {
	background-color:darkgrey;
}
tr.wacolor, tr.wacolor > td {
	background-color:orange !important;
}
span.wacolor {
	background-color:orange;
	padding: 5px;
}

/* Bd Multiview buttons */
p > button.pure-button-primary{
	padding: 8px;
}

/* MFP Styles */
td.rdata {text-align:right;}
tr.hide,td.hide{display:none;}
td.lc {text-align:left;}
